{% extends 'base.html' %}

{% block head %}
<title>UA Toolkit</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-1">UA Readiness Toolkit</h1>
        <p class="lead">Universal  Acceptance (UA)  is about  adding  support  to  technologies  and  services  to  enable internationalization of domain names and email addresses. Our research project aims to develop a practical toolkit that users can employ to test the UA-Readiness of web browsers.</p>
        <hr class="my-4">
        <form action="/run_tests/" class="lead" method="POST">
            <div class="form-group">
                <label for="interface">Select network interface</label>
                <select class="form-control" name="interface" id="interface">
                    {% for interface in interfaces %}
                    <option>{{interface}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="browser">Select browser</label>
                <select class="form-control" name="browser" id="browser">
                    <option>Chrome</option>
                    <option>Firefox</option>
                    <option>Edge</option>
                </select>
            </div>
            <button class="btn btn-primary btn-lg" type="submit">Run tests!</button>
        </form>
    </div>
</div>
<div class="container">
    <a href="config-testcases/" role="button" class="btn btn-secondary">Configure tests</a>
    <a href="config-browsers/" role="button" class="btn btn-secondary">Configure browsers</a>
</div>
{% endblock %}